version: 2

jobs:
  "php-7.1":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:7.1 ci-php/7.1
      - run: docker run aimeos/ci-php:7.1 dpkg -l
      - run: docker push aimeos/ci-php:7.1

  "php-7.2":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:7.2 ci-php/7.2
      - run: docker run aimeos/ci-php:7.2 dpkg -l
      - run: docker push aimeos/ci-php:7.2

  "php-7.3":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:7.3 ci-php/7.3
      - run: docker run aimeos/ci-php:7.3 dpkg -l
      - run: docker push aimeos/ci-php:7.3

  "php-7.4":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:7.4 ci-php/7.4
      - run: docker run aimeos/ci-php:7.4 dpkg -l
      - run: docker push aimeos/ci-php:7.4

  "php-8.0":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:8.0 ci-php/8.0
      - run: docker run aimeos/ci-php:8.0 dpkg -l
      - run: docker push aimeos/ci-php:8.0

  "php-8.1":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:8.1 ci-php/8.1
      - run: docker run aimeos/ci-php:8.1 dpkg -l
      - run: docker push aimeos/ci-php:8.1

  "php-8.2":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:8.2 ci-php/8.2
      - run: docker run aimeos/ci-php:8.2 dpkg -l
      - run: docker push aimeos/ci-php:8.2

  "php-8.3":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:8.3 ci-php/8.3
      - run: docker run aimeos/ci-php:8.3 dpkg -l
      - run: docker push aimeos/ci-php:8.3

  "php-8.4":
    machine: true
    steps:
      - checkout
      - run: echo "$DOCKER_PASS" | docker login --username $DOCKER_USER --password-stdin
      - run: docker build -t aimeos/ci-php:8.4 ci-php/8.4
      - run: docker run aimeos/ci-php:8.4 dpkg -l
      - run: docker push aimeos/ci-php:8.4

workflows:
  version: 2
  build:
    jobs:
      - "php-7.1"
      - "php-7.2"
      - "php-7.3"
      - "php-7.4"
      - "php-8.0"
      - "php-8.1"
      - "php-8.2"
      - "php-8.3"
      - "php-8.4"
  monthly:
    jobs:
      - "php-7.1"
      - "php-7.2"
      - "php-7.3"
      - "php-7.4"
      - "php-8.0"
      - "php-8.1"
      - "php-8.2"
      - "php-8.3"
      - "php-8.4"
    triggers:
      - schedule:
          cron: "15 7 3 * *"
          filters:
            branches:
              only:
                - main
